/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  
     /* menubar start */
     .menu ul li a{
        text-align: right;
    }
    /* menubar end */
    /* email start */
    .ef-email{
        width: 60%;
    }
    .ef-button{
        width: 30%;
    }
    /* email end */
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
     /* menubar start */
     .menu ul li a{
        text-align: right;
    }
    /* menubar end */
    /* discount start */
    .d-h1 {
        font-size: 40px;
    }
    .d-p{
        font-size: 16px;
    }
    .d-button{
        width: 200px;
        font-size: 16px; 
    }
    /* discount end */
    /* email start */
    .ef-email{
        width: 60%;
    }
    .ef-button{
        width: 30%;
    }
    /* email end */
 }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* menubar start */
    .menu ul li a{
        text-align: right;
    }
    /* menubar end */
    /* discount start */
    .d-h1 {
        font-size: 50px;
    }
    /* discount end */
 }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { ... }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { ... }
/* Extra extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) { ... }